@model movie_catalog.Models.movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameMovie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameMovie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dd>

         @{
           <img src="~/UploadedFiles/@Html.DisplayFor(model =>model.file)" class="logo_img" />
         }
            @Html.DisplayFor(model => model.poster)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
